
<div class="container-new">
  <div class="form-create-list">
    <ul><%= form_for(@list) do |f| %></ul>
        <li><%= f.label :name %>
        <%= f.text_field :name %></li>
        <li><%= f.file_field :avatar %></li>
        <%= f.submit %>
      <% end %>
  </div>
</div>



