
<div class="container-new">
  <div class="form-create-list">
    <ul><%= simple_form_for(@list) do |f| %></ul>
        <li><%= f.label :name %>
        <%= f.text_field :name %></li>
        <li><%= f.input :avatar, as: :file %></li>
        <%= f.submit %>

      <% end %>
  </div>
</div>

<div id="new-list-app"></div>
