<%require 'open-uri'
  require 'json'%>
<div class="col-12 col-6" id="container-show">
  <div class="banner">
    <div class="container-lg">
      <%= image_tag "movie-genre.jpg", alt: "My Movie List", class: "img-banner" %>
      <h2><%=@list.name %></h2>
    </div>

  </div>

          <%
          url = 'http://tmdb.lewagon.com/movie/top_rated'

          movie_serialized = URI.open(url).read
          movie = JSON.parse(movie_serialized)
          data = movie["results"]
          movie_list = []
        %>


        <% data.each_with_index do |movie, index|
          title_movie = data[index]["title"]
            movie_list << title_movie
          end
         %>
          <div class="container-movie" id="cards-movies-list">
            <div class="button"><%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-success', id:'button-add-movie' %></div>
              <% movie = Movie.all %>
                <% bookmark = Bookmark.where("list_id = #{@list.id}")
                films_list = []
                 bookmark.each do |element|
                  films_list << element
                end
                 card = []
                 films_list.each do |element|
                  card << element.movie
                end
                %>


                <div class="cards">
                     <% card.each do |element| %>
                    <div class="card">
                        <%= element.title  %>
                        <img src="<%= element.poster_url %>" alt="" class="film">
                        <%= element.overview %>
                    </div>
                        <% end %>
                </div>
                <button type="button" class="btn btn-info"><%= card.count %>  <%= "movies" %></button>
          </div>


            <div class="reviews-form">
                      <hr id="comment-line">

              <div id="form-comment-note">
                  <%= simple_form_for [@list, @review],  defaults: { input_html: { class: 'simple_form' } }  do |f| %>
                  <%= f.input :comment, label: 'Commentaire :', label_html: {  class: 'barre-commentaire' }%>
                  <%= f.input :rating, as: :hidden %>
                    <p>Note :</p>
                    <% Review::AUTHORIZED_RATINGS.each do |index| %>
                        <i id="<%= index %>" class="review-rating far fa-star"></i>
                    <% end %>
                  <%= f.button :submit, class: 'btn btn-primary', id: 'blue-button'%>
                <% end %>
              </div>
                <div class="container-reviews">
                  <p class="font-weight-bold">Commentaires : </p>
                    <% @reviews.each do |review| %>
                  <p>
                    <% Review::AUTHORIZED_RATINGS.each do |number| %>
                      <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
                    <% end %>
                    <div class="font-weight-light"><%= distance_of_time_in_words(Time.now - review.created_at + 1.hours) + " ago"  %></div>
                    <%= review.comment %>
                  </p>
                 <% end %>
                </div>
            </div>
          </div>
        </div>









